.home {
  text-align: center;
}

.section-main {
  background-image: url('../images/bg.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-bottom: 150px;
  overflow: hidden;
  
  @include mq(sm) {
    height: 100vh;
  }
}

.woodmark {
  @include mq(sm) {
    background: url('../images/woodmark.png') top center no-repeat;
    width: 234px;
    height: 156px;
    text-align: center;
    padding: 20px 50px;
    color: $darkgray;
    display: block;
    position: absolute;
    bottom: -15px;
    right: 120px;
    z-index: 11;
  }
}

.snowman {
  @include mq(sm) {
    background: url('../images/snowman.png') bottom center no-repeat;
    width: 226px;
    height: 281px;
    position: absolute;
    bottom: -10px;
    right: -20px;
    background-size: 70%;
  }

  @include mq(lg) {
    background-size: 100%;
    right: 0;
  }
}

.santa {
  @include mq(sm) {
    background: url('../images/santa.png') bottom center no-repeat;
    width: 246px;
    height: 320px;
    position: absolute;
    bottom: -15px;
    left: 50px;
    background-size: 70%;
  }

  @include mq(lg) {
    background-size: 100%;
  }
}

.deer {
  @include mq(sm) {
    background: url('../images/deer.png') bottom center no-repeat;
    width: 94px;
    height: 177px;
    position: absolute;
    bottom: -7px;
    left: 220px;
    background-size: 70%;
  }

  @include mq(lg) {
    background-size: 100%;
    left: 240px;
  }
}



.section-about {
  background-image: url('../images/room-bg-small.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 120px;

  @include mq(sm) {
    background-image: url('../images/room-bg.jpg');
    background-repeat: repeat;
  }
  
  .is-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 90px;

    @include mq(sm) {
      font-size: rem(36);
      color: #fff;
      text-shadow: 0 2px 4px rgba(#603b00, .5);
    }
  }
}

.plank {
  text-transform: uppercase;
  color: #fff;
  font-family: $kgred;
  text-shadow: 0 2px 0 #5e2a00;
  background: url('../images/plank-small.png') top center no-repeat;
  max-width: 100%;
  height: 53px;
  font-size: rem(18);
  line-height: 44px;
  margin-bottom: 20px;

  @include mq(sm) {
    background: url('../images/plank.png') top center no-repeat;
    height: 104px;
    font-size: rem(30);
    line-height: 85px;
  }
}

.narrow-container {
  max-width: 700px;
  margin: 0 auto;
}

@include mq(sm) {
  .has-ribbon {
    &.ribbon-red {
      span:before,
      span:after {
        background-image: url('../images/red-cane.png');
        width: 86px;
        height: 18px;
      }

      span:before {
        left: -100px;
      }

      span:after {
        right: -100px;
      }
    }

    span {
      position: relative;
      
      &:before,
      &:after {
        content: '';
        background: url('../images/ribbon.svg') no-repeat;
        width: 100px;
        height: 15px;
        display: inline-block;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: -8px;
      }

      &:before {
        left: -120px;
      }

      &:after {
        right: -120px;
        transform: scaleX(-1);
      }
    }
  }
}

// .ribbon.filled {
//   path {
//     transition: all ease .3s;
//     stroke-opacity: 0;
//     fill-opacity: 1;
//   }
// }