.home {
  text-align: center;
}

.section-main {
  position: relative;
  text-align: center;
  padding-bottom: 150px;
  
  @include mq(sm) {
    height: 100vh;
  }
}

.logo {
  background: url('../images/logo.png') no-repeat top left;
  width: 274px;
  height: 184px;
  display: inline-block;
  @include text-hide();
  margin-bottom: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.narrow-container {
  max-width: 700px;
  margin: 0 auto;
}

.section-content {
  position: relative;
  z-index: 10;
}

.has-ribbon {
  span {
    position: relative;

    &:before {
      content: '';
      background: url('../images/ribbon.svg') no-repeat;
      width: 100px;
      height: 15px;
      display: inline-block;
      background-size: cover;
      position: absolute;
      top: 5px;
      left: -100px;
    }

    &:after {
      content: '';
      background: url('../images/ribbon.svg') no-repeat;
      width: 100px;
      height: 15px;
      display: inline-block;
      background-size: cover;
      position: absolute;
      top: 5px;
      right: -100px;
      transform: scaleX(-1);
    }
  }
}

.ribbon.filled {
  path {
    transition: all ease .3s;
    stroke-opacity: 0;
    fill-opacity: 1;
  }
}

.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  position: absolute;
  animation: cloudMove 59s linear infinite;
}

.cloud3,
.cloud4 {
  animation-name: cloudRightMove;
}

.cloud1 {
  top: 50px;
  left: 34px;
}

.cloud2 {
  top: 78px;
  left: 224px;
  animation-duration: 55s;
}

.cloud3 {
  top: 60px;
  right: 253px;
  animation-duration: 52s;
}

.cloud4 {
  top: 32px;
  right: -83px;
  animation-duration: 48s;
}

@keyframes cloudMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1500px);
  }

  50.1% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudRightMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1500px);
  }

  50.1% {
    transform: translateX(-2500px);
  }

  100% {
    transform: translateX(0);
  }
}