.btn-svg {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 100px;
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .stars-left,
  .stars-right {
    stroke: 1;
    stroke-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
  }

  .surface {
    transition: all ease .3s; 
  }

  .stars-left {
    transform: rotateZ(45deg);
  }

  .stars-right {
    transform-origin: 100% 100%;
    transform: rotateZ(-45deg);
  }

  span {
    font-weight: 900;
    color: #fff;
    text-shadow: 0 2px rgba(228, 93, 57, .5);
    font-size: rem(25);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
  }

  &:hover {
    text-decoration: none;
    
    .surface {
      fill: lighten(#db7203, 5%);
    }
    
    .stars-left,
    .stars-right {
      opacity: 1;
      visibility: visible;
      transform: rotateZ(0deg);
    }
  }
}

button.btn-svg {
  background: none;
  border: none;
  outline: none;
}


.btn-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: rem(20);
  border-radius: 50%;
  transition: all ease .3s;
  
  &:hover,
  &:active {
    color: #fff;
    box-shadow: none;
    transform: translateY(4px);
  }

  > i {
    text-shadow: 0 2px rgba(#3a5898, .5);
  }
}

.btn-facebook {
  background: #3a5898;
  box-shadow: 0 1px 0 #1e3361,
              0 2px 0 #1e3361,
              0 3px 0 #1e3361,
              0 4px 0 #1e3361;
}

.btn-twitter {
  background: #00aced;
  box-shadow: 0 1px 0 #008bbf,
              0 2px 0 #008bbf,
              0 3px 0 #008bbf,
              0 4px 0 #008bbf;
}