body {
  overflow-x: hidden;
  background-color: $skyblue;
}

.section-main {
  // @include vcenter();
  // width: 100%;
  // height: 100%;
  // text-align: center;
  background-image: url('../images/bg.jpg');
  background-position: bottom center;
  bgrepeat: no-repeat;
  background-size: cover;
  position: relative;
}

// .section-two {
//   @include vcenter();
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   background: #92A8D1;
// }

footer {
  padding: 20px;
  background: $red;
  color: #fff;
  text-transform: uppercase;
}