body {
  font-weight: 600;
  overflow-x: hidden;
  background-color: $skyblue;
}

@include mq(lg) {
  .container {
    max-width: 900px;
  }
}

footer {
  padding: 20px;
  background: $darkblue;
  color: #fff;
  font-size: rem(14);
  letter-spacing: 0.12em;
  text-transform: uppercase;
}