// Colors
$skyblue: #bdedfd;
$red: #e82a2c;
$emerald: #01D5D8;
$darkblue: #003a65;
$darkgray: #464646;
$brown: #c69c6d;

// Fonts
$dancing-script: 'Dancing-Script', Georgia, serif;
$proxima: 'Proxima-Nova', sans-serif;
$kgred: 'KGRed', sans-serif;

$base-font-family: $proxima;
$heading-font-family: $dancing-script;

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;