// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "fonts";
@import "variables";

// baseguide overrides

$grid-flexbox: true;
$font-family-base: $proxima;
$headings-font-family: $dancing-script;
$text-color: $darkblue;
$link-color: $red;
$link-color-hover: lighten($link-color, 10%);
$placeholder-color: $brown;
$input-selector: (
  'input[type="email"]',
  'input[type="date"]',
  'input[type="time"]',
  'input[type="number"]',
  'input[type="password"]',
  'input[type="search"]',
  'input[type="tel"]',
  'input[type="text"]',
  'input[type="url"]',
  'textarea',
  'select'
);

@import "vendors/baseguide";

@import "utilities";
@import "helpers";
@import "base";

@import "components/social";
@import "components/sections";
@import "components/header";
@import "components/loader";
@import "components/buttons";
@import "components/nav";
@import "components/animation";
@import "components/remodal";
@import "components/custom-modal";
@import "components/dropzone";
@import "components/custom-dropzone";
@import "components/form";

@import "pages/home";
@import "pages/thankyou";


.ball-area {
  max-width: 300px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 150px;
}

.ball {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #bada55;
}